<div class="bg-[#FACB3D] p-8 border border-white hover:border-black">
    <div class="flex items-center justify-center xp-3 bg-black inline w-16 h-16 rounded-full mb-3">
        <i class="bi bi-laptop text-white text-3xl"></i>
    </div>

    <p class="text-xl font-semibold">Desarrollo Web</p>
    <p class="text-[#3E3E3E] text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat distinctio voluptates enim quibusdam hic impedit voluptas et vel, sequi ad.</p>

    <button class="px-6 py-3 border rounded-full border-black font-bold mt-3 bg-white hover:bg-stone-100">Leer más</button>
</div>
