<div class="bg-black p-16">

    <div class="max-w-screen-xl mx-auto flex flex-col items-center justify-center sm:flex-row sm:justify-between">
        
        <div class=" w-full mx-auto">
            <p class="text-white">AEPTIC</p>
            <p class="text-slate-400 text-sm mb-2">Nuestras redes sociales</p>
            <div class="flex flex-row gap-3">
                <button class="bg-zinc-800 hover:bg-zinc-700 w-12 h-12 rounded-lg">
                    <i class="bi bi-linkedin text-white"></i>
                </button>

                <button class="bg-zinc-800 hover:bg-zinc-700 w-12 h-12 rounded-lg">
                    <i class="bi bi-linkedin text-white"></i>
                </button>
            </div>
        </div>
    
        <div class="w-full flex flex-col gap-2">
            <p class="text-white ">SERVICIOS</p>
            <a class="text-slate-400 text-sm hover:underline" href="#">Desarrollo web</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Desarrollo web</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Desarrollo web</a>
        </div>
    
        <div class="w-full flex flex-col gap-2">
            <p class="text-white">SOBRE NOSOTROS</p>
            <a class="text-slate-400 text-sm hover:underline" href="#">Filosofia</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Filosofia</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Filosofia</a>
        </div>
        <div class="w-full flex flex-col gap-2">
            <p class="text-white">CONTACTO</p>
            <a class="text-slate-400 text-sm hover:underline" href="#">Contacto</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Contacto</a>
            <a class="text-slate-400 text-sm hover:underline" href="#">Contacto</a>
        </div>
    </div>
    
</div>
